<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="fbizEntities" connectionString="metadata=res://*/SQL.csdl|res://*/SQL.ssdl|res://*/SQL.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=FABIOMARCELL-PC\SQLEXPRESS;initial catalog=fbiz;user id=sa;password=2684;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>